.navbar-nav a:hover {
  background-color: pink;
  border-radius: 10%;
}

/* Index style*/
body {
  font-family: 'Saira Condensed', sans-serif;
}

header .navbar {
  background-color: white !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .navbar-brand {
  font-size: 30px;
}

header #navbarNavAltMarkup {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

header #navbarNavAltMarkup img {
  height: 40px;
  width: 40px;
  position: relative;
  left: 100px;
}

header .navbar-nav a {
  margin-left: 50px;
  margin-right: 50px;
}

header .pie .a {
  color: black;
  position: relative;
  top: -18px;
}

header .pie .barra {
  color: black;
  margin: 0;
}

section {
  background-color: #f7e0ee;
  min-height: 80vh;
}

section .titulo-videos {
  padding: 10px;
  text-align: center;
}

section .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .navbar {
  background-color: white !important;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

footer .navbar-brand {
  font-size: 25px;
}

footer #navbarNavAltMarkup {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

footer #navbarNavAltMarkup img {
  height: 30px;
  width: 30px;
  position: relative;
  left: 100px;
}

footer .navbar-nav a {
  margin-left: 50px;
  margin-right: 50px;
}

footer img {
  background-color: #f7e0ee;
  width: 100%;
  height: auto;
}

/* Estilo origenes.html */
.padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.padre .contenedor_texto, .padre .contenedor_texto2 {
  position: relative;
  background-color: white;
  height: 300px;
  width: 400px;
  padding: 10px;
  top: 50px;
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  font-family: 'Saira Condensed', sans-serif;
}

.padre .contenedor_texto2 {
  height: 400px;
}

/* Tips*/
.tips {
  padding: 50px;
  margin: 2px;
}

.tips .container {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.tips .container .row .col {
  height: 400px;
  width: auto;
}

.tips .container .row .col img {
  border: solid black 1px;
  -webkit-box-shadow: 10px 10px 50px;
          box-shadow: 10px 10px 50px;
  height: 100%;
  width: auto;
}

.tips h2 {
  text-align: center;
  margin-bottom: 50px;
}

/* CONTACTO */
.contacto col {
  height: 20px;
}

@media screen and (max-width: 800px) {
  .padre .contenedor_texto2, .contenedor_texto, .padre .contenedor_texto2 {
    margin: 30px;
    min-height: 400px;
  }
}
/*# sourceMappingURL=style.css.map */